{
  "extends": ["standard", "standard-jsx"],
  "rules": {
    "prettier/prettier": "error",
    "space-before-function-paren": "off",
    "jsx-quotes": "off",
    "indent": "off"
  },
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "root": true
}
